# Default owner
* @alexeyshr

# SDD-critical areas
/specs/ @alexeyshr
/specs/004-left-panel-evolution/ @alexeyshr
/store/ @alexeyshr
/components/ @alexeyshr
/app/ @alexeyshr
/fix/ @alexeyshr
/expirience/ @alexeyshr
